[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
codecov = "*"
sklearn = "*"
matplotlib = "*"
nltk = "*"
spacy = "*"
gensim = "*"
keras = "*"

[packages]
toml = "*"
enlighten = "*"
pyyaml = "*"
owlready2 = "*"
networkx = "*"

[requires]
python_version = "3.6"
