[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
codecov = "*"
sklearn = "*"

[packages]
toml = "*"
enlighten = "*"

[requires]
python_version = "3.6"
